.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12rem;
  width: 100%;
  height: 100%;
}

.facebookinfo {
  width: 500px;
  padding-bottom: 25rem;

}

.facebookinfo h1 {
  color: #0866ff;
  font-size: 3.5rem;
  margin-bottom: 10px;
}
.facebookinfo h2 {
  font-weight: normal;
  font-size: 1.8rem;
  margin: 0px;
}

